.item {
    color: crimson;
}

.item img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 10px 10px 0 5px;
}

.post {
    margin-left: 5px;
}

span {
    margin-left: 50px;
    margin-right: 20px;
    color: red;
    font-weight: bold;
}