* {
    margin: 0;
    padding: 0;
}

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: lightsalmon;
}

.dialog {
    padding: 10px;
}

.pic {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    vertical-align: bottom;
}

.name {
    font-size: 24px;
    display: inline-block;
    margin-left: 10px;
}

.messages {

}

.message {
    padding: 2px;
    border: 1px solid black;
    margin: 2px 5px;
}